<!doctype html>
<html lang="{{ metadata.language }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title or metadata.title }}</title>
    <meta name="description" content="{{ description or metadata.description }}">

    {#- Sharing and SEO #}
    <meta property="og:site_name" content="{{ metadata.title }}">
    <meta property="og:title" content="{{ title or metadata.title}}">
    <meta property="og:description" content="{{ description or metadata.description }}">
    <meta property="og:locale" content="{{ metadata.locale }}">
    <meta property="og:url" content="{{ page.url | url }}">
    <meta property="og:image" content="{{ '/assets/images/default_og_image.png' | url | safe }}">
    {%- if layout === "post" %}
      <meta property="og:type" content="article">
      <meta property="article:published_time" content="{{ page.date | ISODate }}">
    {%- endif %}

    {# Canonical URL #}
    <link rel="canonical" href="{{ page.url | htmlBaseUrl(metadata.url) }}">

    {#- RSS Feeds #}
    <link rel="alternate" href="/feed/feed.xml" type="application/atom+xml" title="{{ metadata.title }}">
    <link rel="alternate" href="/feed/feed.json" type="application/json" title="{{ metadata.title }}">

    {#- Webmentions #}
    <link rel="webmention" href="https://webmention.io/codesue.com/webmention" />
    <link rel="pingback" href="https://webmention.io/codesue.com/xmlrpc" />

    {#- Me #}
    {%- for profile, profile_url in metadata.author.social %}
      <link rel="me" href="{{ profile_url }}" />
    {%- endfor %}

    {#- Favicon #}
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">

    {#- Theme Color #}
    <meta name="color-scheme" content="light dark">
    <meta name="theme-color" content="{{ metadata.theme_color }}" media="(prefers-color-scheme: light)">
    <meta name="theme-color" content="{{ metadata.theme_color_dark }}" media="(prefers-color-scheme: dark)">

    {#- Style  #}
    <link rel="preload" href="/assets/fonts/WorkSans-Regular.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="/assets/fonts/WorkSans-SemiBold.woff2" as="font" type="font/woff2" crossorigin>
    {% set css %}
      {% include "../../assets/styles/fonts.css" %}
      {% include "../../assets/styles/main.css" %}
    {% endset %}
    <style>{{ css | cssmin | safe }}</style>

    {#- Scripts #}
    <script src="/pwa.js" defer></script>
  </head>
  <body>
    <a href="#skip" class="visually-hidden">Skip to main content</a>
    {% include "snippets/header.njk" %}
    <main id="skip">
      {{ content | safe }}
    </main>
    {% include "snippets/footer.njk" %}
    <!-- Current page: {{ page.url | htmlBaseUrl }} -->
  </body>
</html>
