<footer>
  <span>&copy; {{ build.timestamp | readableDate("yyyy") }}</span>
  <a href="{{ metadata.author.homepage }}" target="_blank" rel="noopener noreferrer">
    {{ metadata.author.name }}
  </a>
</footer>
