---
layout: base
---

<h1 class="post-title">
  <a href="{{ '/' | url }}">{{ title }}</a>
</h1>
<p class="post-date">
  <time datetime="{{ page.date | htmlDateString }}">{{ page.date | readableDate }}</time>
</p>
{{ content | safe }}
<div class="cta-subscribe">
  <hr>
  <aside class="cta-subscribe-text">
    <p>If you enjoyed the read, check out
      <a href="{{ '/posts/' | url }}">another post</a>. Or subscribe to the
      <a href="{{ '/feed/feed.xml' | url }}">RSS</a>
      or
      <a href="{{ '/feed/feed.json' | url }}">JSON</a>
      feed.</p>
  </aside>
</div>
